<%- include('header.ejs') -%>

<h1 class="mt-4">Dashboard</h1>

<style>
    h1{
        margin-left: 15px;
        border: 1.3px solid #00000036;
        width: 16%;
        padding: 6px;
    }
</style>