

<nav class="navbar navbar-expand-sm bg-custom">
<div class="right">
  <ul class="navbar-nav header-ul">
    
    <li class="nav-item item">
        <a href="/person" class="btn btn-primary menuitem">add</a>
    </li>
    <li class="nav-item item">
        <a href="/viewperson" class="btn btn-primary menuitem">view person</a>
    </li>
    <li class="nav-item item">
        <a href="/addmilestone" class="btn btn-primary menuitem">add milestone</a>
    </li>
    <li class="nav-item item">
        <a href="/viewmilestone" class="btn btn-primary menuitem">view milestone</a>
    </li>
    <li class="nav-item item">
        <a href="/viewall" class="btn btn-primary menuitem">view all</a>
    </li>
    <li class="nav-item item">
        <a href="/users/logout" class="btn btn-secondary menuitem">Logout</a>
    </li>
  </ul>
</div>
</nav>










